<h2><%= @food.name %></h2>
<h3>Food Item Details</h3>
<ul>
	<li>Name: <%= @food.name %></li>
	<li>Category: <%= @food.category %></li>
	<li>Cuisine Type: <%= @food.cuisine_type %></li>
	<li>Price: £<%= @food.price %></li>
	<li>Vegetarian? <%= @food.vegetarian %></li>
</ul>

<h3>Parties Ordering the Item</h3>
<ul>
	<% @food.parties.each do |party| %>
		<li><a href="/parties/<%= party.id %>"><%= party.name %></a></li>
	<% end %>
</ul>

<h3>Food Item Options</h3>
<ul>
	<a class="add" href="/foods/<%= @food.id %>/edit">Edit Food Item</a> or
	<form action="/foods/<%= @food.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input class="button" type="submit" value="Delete Food Item">
	</form>
</ul>
